html {
	font-size: 100.01%;
}
html,body {
	height: 100%;
}
body {
	font: .8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #ffff66;
	color: #333;
}
header,
nav,
section,
article,
aside,
footer {
	display: block;
}
a:hover {
	color: #722;
}
p {
	margin: 0 0 1em;
}
header {
	color: #007e99;
	font-size: 2.5em;
	padding: 20px 50px
}
header span {
	color: #722;
}
a {
	text-decoration: none;
	color: #000;
}
nav a.selected, nav a:hover {
	color: #0000ff;
}
nav ul {
	margin: 0 10px;
	padding: 0; 
}
nav {
	font-size: 1.5em;
	margin: 5px 0;
	padding: 20px 50px
}
nav li {
	display: inline;
	margin: 0 15px

}
nav li:first-child {
	margin-left: 0;
}
nav span,
nav a {
	padding: 3px 15px 4px;
}
nav span {
	background: #722;
	color: #fff; 
}
nav header {
	margin-left: 0;
	font-size: 15px;
	padding: 0;
}
section {
	float: left;
	padding: 35px 0;
	position: relative;
	width: 70%;
}
section article {
	margin: 0 50px 40px;
	padding: 25px 0 0;
	position: relative;
}
section header {
	font-size: 1em;
	padding: 0;
}
section h2 {
	font-size: 2.3em;
}
aside {
	float: right;
	padding: 25px 0 30px;
	position: relative;
	width: 25%;
}
aside img {
	display: block;
	max-width: 45%;
	margin: 2.5%;
	border-radius: 20px;
}
aside h2 {
	color: #007e99;
}
footer {
	clear: both;
	color: #777;
	padding: 10px 50px;
}
section {
	background: #ccc;
}